<div class="container p-4">
  <div class="row">
    <div class="col-md-9">
      <input [(ngModel)]="title" type="text" required placeholder="Título" class="form-control">
      <p-editor [(ngModel)]="text" [style]="{'height':'350px', 'width':'95%'}"></p-editor>
    </div>
    <div class="col-md-3 bgsecondary">
        <div class="text-center mt-3">
            <h3 class="title-top" title="Selecciona un tag">Tags</h3>
        </div>
        <div class="ck-button">
            <label>
               <input type="checkbox" value="1"><span>red <i class="fas fa-check"></i> <i class="fas fa-times"></i> </span>
            </label>
         </div>
         
    </div>
  </div>
  <button (click)="createPost()" class="btn btn-success">Crear Post</button>
</div>
