@import '../../../../../assets/scss/variables';

.btn-auth {
    width: 150px;
    background-color: $primary-color-hover;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  
    &:hover{
      background: $primary-color;
      color: #fff;
    }
  }

img {
    width: 13rem;
    height: 13rem;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1.1rem;
    box-shadow: 1px 1px 1px 7px $secondary-color;
    border-radius: 5%;
}

.input-field{
  max-width: 100% !important;
}
  
.file-upload>input {
  display: none;
}

.input-field label{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
  cursor: pointer;
}
.input-field span {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  word-wrap: break-word;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}


.box i{
  position: absolute;
  right: 0;
  color: $primary-font-color;
  background-color: $primary-color;
  border-radius: 50%;
  font-size: 1.3rem;
  border: 5px solid $secondary-color;
  cursor: pointer;
}

.box i:hover{
  color: gray;
}

.box img{
  object-fit: cover;
}

.box{
  align-items: center;
  height: 200px;
  width: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.6rem;
}