<button type="button" [class.expense]="this.isExpense" [class.entry]="!this.isExpense" class="btn-web" (click)="downloadXLS()" data-bs-toggle="modal"
  [attr.data-bs-target]="'#Download' + serviceName">
  Descargar 
  <div class="d-none d-md-inline">
    {{ title }}
    <i class="fas fa-download"></i>
  </div>
</button>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [attr.id]="'Download'+serviceName"
  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Descargando {{ title }}</h5>
      </div>
      <div class="modal-body">

        <div *ngIf="showUploadProgress">
          <div class="text-center m-2">
            <div class="spinner-grow text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [ngStyle]="{width: uploadProgress + '%'}" style="width: 0%" [attr.aria-valuenow]="uploadProgress"
              aria-valuemin="0" aria-valuemax="100">
              {{ uploadProgress }}%
            </div>
          </div>
        </div>

        <div *ngIf="!showUploadProgress">
          <div class="text-center">
            <h4>Descarga completada</h4>
          </div>
          <button type="button" class="btn btn-block btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>