<button type="button" class="btn btn-success" (click)="downloadXLS()" data-bs-toggle="modal" [attr.data-bs-target]="'#Download' + serviceName">
  Descargar {{ title }}
</button>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [attr.id]="'Download'+serviceName"
  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Descargando {{ title }}</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="showUploadProgress">
          <div class="text-center m-2">
            <div class="spinner-grow text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [ngStyle]="{width: uploadProgress + '%'}" style="width: 0%" [attr.aria-valuenow]="uploadProgress"
              aria-valuemin="0" aria-valuemax="100">
              {{ uploadProgress }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
