@import '../../../styles.scss';

#main {
    margin-left: 200px;
    overflow-x: hidden;
  }
  
  @media (max-width: 1199px) {
  
    #header {
      left: -200px;
    }
  
    #main {
      margin-left: 0;
    }
  
  }
  