.is-valid {
  box-shadow: 0px 0px 0px 1px #06F139;
}

.is-invalid {
  box-shadow: 0px 0px 0px 1px #C9190B;
}

.error {
  font-weight: 300;
  font-size: 1rem;
  color: #C9190B;
  margin-bottom: 10px;
}
