<div class="wrapper rounded">
    <h2 class="pt-3">Transacciones</h2>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <button class="btn btn-primary">Crear Ingreso</button>
        <button class="btn btn-primary">Crear Gasto</button>
        <button class="btn btn-primary">Descargar Ingreso</button>
        <button class="btn btn-primary">Descargar Gasto</button>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="text-right">Cuantía</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of amountData">
                    <td scope="row">{{item.data.name}}</td>
                    <td>{{item.data.description}}</td>
                    <td class="text-muted">{{item.data.created_at}}</td>
                    <td class="">{{item.data.amount}}€</td>
                    <td *ngIf="getServiceName(item.is_expense); then thenBlock else elseBlock"></td>
                    <ng-template #thenBlock>
                        <td>
                            <span class="badge badge-pill badge-soft-danger mt-n1"
                                ngbTooltip="Egresos">{{getServiceName(item.is_expense)}} <i
                                    class="fas fa-chevron-down"></i></span>
                        </td>
                    </ng-template>
                    <ng-template #elseBlock>
                        <td>
                            <span class="badge badge-pill badge-soft-success mt-n1"
                                ngbTooltip="Ingreso">{{getServiceName(item.is_expense)}} <i
                                    class="fas fa-chevron-down"></i></span>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center results"> <span class="pl-md-3">Showing<b
                class="text-white"> 1-7 0f 200 </b> trasactions</span>
        <div class="pt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item disabled"> <a class="page-link" href="#" aria-label="Previous"> <span
                                aria-hidden="true">&lt;</span> </a> </li>
                    <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span
                                aria-hidden="true">&gt;</span> </a> </li>
                </ul>
            </nav>
        </div>
    </div>
</div>