<div class="bgsecondary p-2">

  <div class="text-center">

    <button title="Post más recientes" [disabled]="btnAll" (click)="getPosts()" class="btn-filter m-1">
      <div *ngIf="btnAllLoading" class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <i *ngIf="!btnAllLoading" class="fas fa-sun"></i>
      Nuevos
    </button>

    <button title="Post con más likes en la semana" [disabled]="btnHot" (click)="getPosts('?sort=hot')"
      class="btn-filter m-1">
      <div *ngIf="btnHotLoading" class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <i *ngIf="!btnHotLoading" class="fas fa-fire"></i>
      Hot
    </button>

    <button title="Post con más likes" [disabled]="btnTop" (click)="getPosts('?sort=top')" class="btn-filter m-1">
      <div *ngIf="btnTopLoading" class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <i *ngIf="!btnTopLoading" class="fas fa-chart-line"></i>
      Top
    </button>

    <button title="Post de los usuarios que sigues" class="btn-filter m-1" (click)="changeCbFollowing()">
      Following
      <i *ngIf="cbFollowing == true" class="fas fa-check text-success"></i>
      <i *ngIf="cbFollowing == false" class="fas fa-times text-danger"></i>
    </button>



  </div>

  <div class="text-center mt-2">
    <a [routerLink]="['/dashboard/post/create/user']" class="btn-filter">
      <i class="fas fa-pencil-alt"></i>
      Crear Post
    </a>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
    <!-- ---------------------------- Top Usuarios ----------------------------- -->
    <article class="leaderboard sticky">
      <main class="leaderboard__tags bgsecondary">
        <div class="text-center">
          <h4><i class="fas fa-trophy"></i> Top Usuarios</h4>
        </div>
        <div *ngFor="let item of topUsers">
          <app-top-contributors [user]="item"></app-top-contributors>
        </div>
        <div *ngIf="loadingTopUser" class="text-center">
          <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </main>
    </article>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <!-- ------------------------------- Posts ------------------------------- -->
    <div class="mt-3">
      <div class="row">
        <div class="col-12">
          <!-- ------------------------------- Paginate ------------------------------- -->
          <div class=" bgsecondary mt-2 p-2 d-flex justify-content-evenly">
            <button [disabled]="!previousUrl" (click)="changeUrl(false)" class="paginate left">
              <i></i><i></i>
            </button>
            <h3 class="title">-</h3>
            <button [disabled]="!nextUrl" (click)="changeUrl(true)" class="paginate right">
              <i></i><i></i>
            </button>
          </div>
        </div>
        <div class="col-12">
          <div class="row" *ngIf="posts && !loading">
            <div #postBlock class="col-sm-12 col-md-6 " *ngFor="let post of posts">
              <app-post-list (refreshPosts)="getPosts()" [post]="post"></app-post-list>
            </div>
          </div>
          <div class="row" *ngIf="loading">
            <div class="col-sm-12 col-md-6  " *ngFor="let item of numberPagination">
              <app-post-list-skeleton></app-post-list-skeleton>
            </div>
          </div>
          <div *ngIf="!loading && posts?.length == 0">
            <div class="text-center">
              <img src="../../../../../assets/img/no-post.png" alt="No posts" class="img-fluid">
              <h4 class="mt-2">No hay posts</h4>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- ------------------------------- Paginate ------------------------------- -->
          <div class=" bgsecondary mt-4 p-2 d-flex justify-content-evenly">
            <button [disabled]="!previousUrl" (click)="changeUrl(false)" class="paginate left">
              <i></i><i></i>
            </button>
            <h3 class="title">-</h3>
            <button [disabled]="!nextUrl" (click)="changeUrl(true)" class="paginate right">
              <i></i><i></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- ----------------------------- Side ------------------------------ -->
  <div class="col-sm-12 col-md-12 col-lg-3 order-md-2 mt-4">
    <app-tags-detail></app-tags-detail>
  </div>


</div>