<div class="main-content">
    <div class="mt-5">
        <!-- Table -->

        <div class="row">
            <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg"
                                        class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-profile-stats d-flex text-center justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading">89</span>
                                        <span class="description">Seguidores</span>
                                    </div>
                                    <div>
                                        <span class="heading">22</span>
                                        <span class="description">Posts</span>
                                    </div>
                                    <div>
                                        <span class="heading">22</span>
                                        <span class="description">Siguiendo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-light">
                            <h2>
                                Juan Padilla
                            </h2>
                            <div class="h3 font-weight-800">
                                @zClut
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>