<div class="row">
  <div class="col-12">
    <app-user-card [username]="username"></app-user-card>
  </div>
  <div class="col-12">
    <!-- ------------------------------- Posts ------------------------------- -->
    <div class="mt-3">
      <div class="row">
        <div class="col-12">
          <!-- ------------------------------- Paginate ------------------------------- -->
          <div class=" bgsecondary mt-2 p-2 d-flex justify-content-evenly">
            <button [disabled]="!previousUrl" (click)="changeUrl(false)" class="paginate left">
              <i></i><i></i>
            </button>
            <h3 class="title">-</h3>
            <button [disabled]="!nextUrl" (click)="changeUrl(true)" class="paginate right">
              <i></i><i></i>
            </button>
          </div>
        </div>
        <div class="col-12">
          <div class="row" *ngIf="posts && !loading">
            <div class="col-sm-12 col-md-3" *ngFor="let post of posts">
              <app-post-list (refreshPosts)="getPostUser()" [post]="post"></app-post-list>
            </div>
          </div>
          <div class="row" *ngIf="loading">
            <div class="col-sm-12 col-md-3" *ngFor="let item of numberPagination">
              <app-post-list-skeleton></app-post-list-skeleton>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- ------------------------------- Paginate ------------------------------- -->
          <div class=" bgsecondary mt-4 p-2 d-flex justify-content-evenly">
            <button [disabled]="!previousUrl" (click)="changeUrl(false)" class="paginate left">
              <i></i><i></i>
            </button>
            <h3 class="title">-</h3>
            <button [disabled]="!nextUrl" (click)="changeUrl(true)" class="paginate right">
              <i></i><i></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>