<form action="#" class="sign-up-form">
    <h2 class="title">Sign up</h2>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="text" placeholder="Name" />
    </div>
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" />
    </div>
    <div class="input-field">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Email" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password confirmation" />
    </div>
    <button class="btn solid">Join Us</button>
  </form>