<div class="text-center" *ngIf="month?.categories">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bgsecondary full-height">
        <br>
        <h3>Ingresos</h3>
        <app-chart-month [isExpense]="false" [categories]="month?.categories"></app-chart-month>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bgsecondary full-height">
        <br>
        <h3>Gastos</h3>
        <app-chart-month [isExpense]="true" [categories]="month?.categories"></app-chart-month>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6 my-auto">
      <app-analysis [month]="month"></app-analysis>
    </div>
    <div class="col-md-6">
        <div class="bgsecondary mb-4">
          <h3 class="mt-4">Total Mes</h3>
          <app-chart-difference [month]="month?.month"></app-chart-difference>
        </div>
    </div>

    <div class="col-12 bgsecondary">
      <div class="row ">
        <div class="col-md-6">
          <app-add-amount-base  [isExpense]="false" >
          </app-add-amount-base>
          <app-download-amount-base  [isExpense]="false"></app-download-amount-base>
        </div>
        <div class="col-md-6 ">
          <app-add-amount-base  [isExpense]="true">
          </app-add-amount-base>
          <app-download-amount-base  [isExpense]="true"></app-download-amount-base>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">

    <div class="col-12">
      <app-category-detail [month]="month"></app-category-detail>
    </div>



  </div>
</div>
