/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import '../../../styles.scss';

.navbar{
  background-color: $alternative-color;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: darken($primary-color, 1);
  overflow-y: auto;

}


.nav-item {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-weight: 700;

  a {
    padding: 12px 10px;
    margin-bottom: 2px;
    font-size: 15px;
    color: $primary-font-color;
    i {
      font-size: 24px;
      padding-right: 8px;
      color: $primary-font-color;
    }
  }

  .nav-link {
    span::after {
      content: '';
      display: block !important;
      width: 0;
      height: 2px;
      background: $light-primary-color;
      transition: width .3s !important;
    }
    span:hover::after {
      width: 100%;
      transition: width .3s;
      color: $primary-font-color;
    }
  }

}

.nav-item:hover,
.nav-link:hover {
  border-color: transparent !important;
  cursor: pointer;
}

img {
  height: 7vh;
}