/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import '../../../styles.scss';

.navbar{
  background-color: $alternative-color;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.dropdown-menu {
  background: $alternative-color;
  & .dropdown-item:hover{
    background: $alternative-color-hover;
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: darken($primary-color, 1);
  overflow-y: auto;

}


.nav-item {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-weight: 700;

  a {
    padding: 12px 10px;
    margin-bottom: 2px;
    font-size: 15px;
    color: $primary-font-color;
    i {
      font-size: 24px;
      padding-right: 8px;
      color: $primary-font-color;
    }
  }

  .nav-link {
    
    span::after {
      content: '';
      display: block !important;
      width: 0;
      height: 2px;
      background: $light-primary-color;
      transition: width .3s !important;
    }
    span:hover::after {
      width: 100%;
      transition: width .3s;
      color: $primary-font-color;
    }
  }

}

.nav-item:hover,
.nav-link:hover {
  border-color: transparent !important;
  cursor: pointer;
}

img {
  height: 7vh;
}

button{
  span{
    color: #fff;
  }
}

.notification {
  display: inline-block;
  position: relative;
  border-radius: 0.2em;
  font-size: 1.3em;
}

.notification::before, 
.notification::after {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
  display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  transform-origin: top center;
}

.notification::after {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 5px 8px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: $secondary-color;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.notification.notify::before {
  animation: ring 1.5s ease;
}

.notification.show-count::after {
  transform: scale(1);
  opacity: 1;

}

@keyframes ring {
  0% {
      transform: rotate(35deg);
  }
  12.5% {
      transform: rotate(-30deg);
  }
  25% {
      transform: rotate(25deg);
  }
  37.5% {
      transform: rotate(-20deg);
  }
  50% {
      transform: rotate(15deg);
  }
  62.5% {
      transform: rotate(-10deg);
  }
  75% {
      transform: rotate(5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

/* ---------------------------- Notification Menu --------------------------- */

.notification-menu {
  max-width: 480px;
  min-width: 480px;
}

@media (min-width: 300px) {
  .notification-menu {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 576px) {
  .notification-menu {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .notification-menu {
    max-width: 350px;
    min-width: 350px;
  }
}

@media (min-width: 992px) {
  .notification-menu {
    max-width: 480px;
    min-width: 480px;
  }
}

.notification-item {
  height: 100px;
  padding: 16px;
  display: flex;
}


.notification-div {
  max-height: 100%;
  min-width: 80%;
  display: block;
}

.notification-p {
  padding: 4px 0px 0px 8px;
  margin: 0px;
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100%;
  min-height: 30px;
  display: block;
  overflow: hidden;
  line-height: 1.5em;
}

.date-span {
  min-height: 100px;
  padding: 0px 0px 0px 8px;
  font-size: 0.7em;
  color: #b3babd;
  margin: 0px;
}

.dropdown-item{
  color: $primary-font-color;
}