<div class="chat-vid anim" style="--delay: .4s">
  <div class="chat-vid__wrapper">
    <div class="chat-vid__img">
        <p-skeleton width="100px" height="80px"></p-skeleton>

    </div>
    <div class="chat-vid__content">
      <div class="chat-vid__name">
        <p-skeleton width="7rem" styleClass="p-mb-2"></p-skeleton>

      </div>
      <div class="chat-vid__by">
        <div class="text-light decoration"><span>
            <p-skeleton width="5rem" styleClass="mb-3"></p-skeleton>

          </span></div>
      </div>
      <div class="chat-vid__info d-flex">
        <p-skeleton width="3rem" styleClass="mb-2 me-3"></p-skeleton>
        <p-skeleton width="3rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>
</div>
