<div #ChartContainer id="pie-chart-parent">
  <ngx-charts-bar-vertical
    [view]="[viewX, viewY]"
    (window)="onResize($event)"
    (window:resize)="onResize($event)"
    [scheme]="colorScheme" 
    [results]="single" 
    [gradient]="gradient" 
    [xAxis]="showXAxis"
    [yAxis]="showYAxis" 
    [legend]="showLegend"
    [noBarWhenZero]="false"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel"
    [yAxisTickFormatting]="formatingY"
    [yAxisLabel]="yAxisLabel"
    style="fill: white;">    
    <ng-template #tooltipTemplate let-model="model">
      <div class="text-center p-1">
        <h6>{{ model.name }}</h6>  
        <h6>€{{model.value}}</h6>
      </div>
      </ng-template>
  </ngx-charts-bar-vertical>
</div>
