@import '../../../../../../styles.scss';


.btn-flotante {
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: $alternative-color;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    position: fixed;
    
}

.btn-flotante:hover {
    background-color: $alternative-color-hover; /* Color de fondo al pasar el cursor */
}

