<div class="bgsecondary">
  <div class="row row-eq-height">
    <div class="col-md-8 ">
      <div class="post p-3">
        <div class="author-detail">
          <div class="d-flex bd-highlight">

            <div class="me-auto my-auto bd-highlight">
              <h3 *ngIf="!loading">{{ post?.title|titlecase }}</h3>
              <div *ngIf="loading" class="d-flex">
                <div class="mr-1">
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
    
              <div *ngIf="!loading" class=" my-1 ">
                Autor: <a class="text-light decoration" [routerLink]="['/dashboard/user/',post?.author?.username]"><span class="fw-bold">@{{ post?.author?.username }}</span></a> | Última vez modificado {{ post?.update_at| amLocale:'es' | amTimeAgo  }}
              </div>
            </div>



            <div *ngIf="post?.is_owner" class="my-2 me-4 bd-highlight">
              <div class="d-flex flex-column bd-highlight">
                <div class="bg-highlight">
                  <app-delete-button [showLoader]="showDeleteLoader" (sendDelete)="deletePostAction()">
                  </app-delete-button>
                </div>

                <div class="my-auto bg-highlight">
                  <a [routerLink]="['/dashboard/post/edit/',id]" class="text-ligth">
                    <i class="btn text-light fas fa-pencil-alt"></i>
                  </a>
                </div>
              </div>


            </div>

            <div class="my-4 bd-highlight">
              <app-like-button (sendLike)="sendLike()" [countLike]="post?.likes" [showLoading]="showLikeLoader"
                [liked]="post?.is_like"></app-like-button>
            </div>


          </div>
        </div>

        <hr>


        <div class="post-body ">
          <div *ngIf="loading">
            <p-skeleton styleClass="mb-4" width="100%"></p-skeleton>
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton styleClass="mb-4" width="5rem"></p-skeleton>
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>
            <p-skeleton styleClass="mb-2" width="100%"></p-skeleton>

          </div>
          <div class="ql-editor post-body" *ngIf="!loading" [innerHTML]="post?.description | atUser | safeHtml"></div>

        </div>

      </div>
      <app-tags-post [tags]="post?.tags"></app-tags-post>
    </div>

    <div class="col-md-4">
      <div class="chat-vid__container">
        <div class="chat-vid__title anim" style="--delay: .3s">Post similares</div>
        <div class="chat-vid anim" style="--delay: .4s">
          <div class="chat-vid__wrapper">
            <img class="chat-vid__img" src="https://cdn.nohat.cc/thumb/f/720/3b55eddcfffa4e87897d.jpg" />
            <div class="chat-vid__content">
              <div class="chat-vid__name">Prepare for your first skateboard jump</div>
              <div class="chat-vid__by">Jordan Wise</div>
              <div class="chat-vid__info">125.908 views <span class="seperate"></span>2 days
                ago</div>
            </div>
          </div>
        </div>
        <div class="chat-vid anim" style="--delay: .5s">
          <div class="chat-vid__wrapper">
            <img class="chat-vid__img"
              src="https://iamaround.it/wp-content/uploads/2015/02/pexels-photo-4663818.jpeg" />
            <div class="chat-vid__content">
              <div class="chat-vid__name">Prepare for your first skateboard jump</div>
              <div class="chat-vid__by">Jordan Wise</div>
              <div class="chat-vid__info">125.908 views <span class="seperate"></span>2 days
                ago</div>
            </div>
          </div>
        </div>
        <div class="chat-vid__button anim" style="--delay: .6s">See All related videos (32)</div>
      </div>
    </div>

    <div class="col-md-12 ">
      <hr>
      <div class="row">
        <div class="col-12 mb-5">
          <app-post-comment [idPost]="id"></app-post-comment>
        </div>
      </div>
    </div>
  </div>
</div>
