@import '../../../../../../assets/scss/variables';

.card {
    background: $alternative-color;
    box-shadow: 2px 20px 30px $alternative-color;
    cursor: pointer;

    &:hover{
        background: $alternative-color-hover;
    }
}

.badge-soft-success {
    color: #00d97e;
    background-color: #0e4a4c;
}

.badge-soft-danger {
    color: #E4AAAA;
    background-color: #4c0e0e;
}

