@import '../../../../../../assets/scss/variables';





.author {
  &-img {
    width: 38px;
    height: 38px;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    border-radius: 50%;
    object-fit: cover;

    &__wrapper {
      position: relative;
      flex-shrink: 0;

      svg {
        width: 8px;
        padding: 2px;
        background-color: #fff;
        color: #0daabc;
        border-radius: 50%;
        border: 2px solid #0daabc;
        position: absolute;
        bottom: 5px;
        right: 0;
      }
    }
  }

  &-name {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &-info {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
  }

  &-detail {
    margin-left: 16px;
  }
}



.video {
  &-author {
    position: absolute;
    right: 10px;
    transition: 0.4s;
    bottom: -25px;

    svg {
      background-color: #0aa0f7;
      color: #fff;
    }
  }
}


.video-p {
  margin-right: 12px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;

  .author-img {
    border: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;

    .author-img {
      border: 0;
    }

    svg {
      width: 20px;
      padding: 4px;
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;

      .button-wrapper {
        margin: 20px auto 0;
      }

      .video-p-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .video-p {
        margin-right: 0
      }
    }
  }

  &-sub {
    font-size: 12px;
  }


  &-name {
    margin-bottom: 3px;
    color: #fff;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #22b07d;
      border-radius: 50%;
      margin-left: 8px;
      display: inline-block;
    }
  }
}




.chat-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: sticky;
  top: 0;
  background-color: $alternative-color;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid $alternative-color;

  svg {
    width: 15px;
    margin-right: 6px;
    flex-shrink: 0;
  }

  span {
    margin-left: auto;
    color: var(--body-color);
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}

/* ---------------------------------- chat ---------------------------------- */

.chat-stream {
  flex-grow: 1;
  width: 100%;
}

.chat {
  padding: 0 20px;
  max-height: 414px;
  width: 100%;
  overflow: auto;

  /* --------------------------------- scroll --------------------------------- */
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darken($secondary-color, 5%);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-hover;
  }

/* ------------------------------- end scroll ------------------------------- */

  &-footer {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: calc(100% + 20px);

    input {
      width: 100%;
      border: 0;
      background-color: $secondary-color;
      border-radius: 20px;
      font-size: 12px;
      color: #fff;
      margin-left: -10px;
      padding: 12px 40px;
      font-weight: 500;
      background-size: 24px;
      background-position: 8px;
    
      &:focus{
        outline: none
      }

      &::placeholder {
        color: $primary-font-color;
        opacity: 0.7;
      }
    }
    &:before {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center;
      width: 18px;
      height: 18px;
      padding: 4px;
      border-radius: 50%;
      right: 16px;
    }
  }
}

.message {
  display: flex;
  align-items: center;
  margin-top: 18px;

  &:last-child {
    margin-bottom: 18px;
  }

  &-container .author-img__wrapper svg {
    width: 15px;
  }
}
.msg-wrapper{
  width: 100%;
}
.msg {
  &__name {
    font-size: 13px;
  }
  &__date{
    font-size: 9px;
  }
  &__content {
    line-height: 1.4em;
    max-width: 26ch;
    display: -webkit-box;
    overflow: hidden;
  
  }
}

form{
  width: 100%;
}