<div class="chat-stream">
  <div #messageContainerScroll (scroll)="onScroll($event)" class="chat">
    <div class="chat-header">Comentarios
      <span
        [class.text-danger]="!formMessage.valid"
        [class.text-success]="formMessage.valid"
      >{{ this.countMessage }}</span>
    </div>
    <div class="message-container">
  
      <!-- ------------------------------- Message ------------------------------- -->
      <ng-container *ngFor="let comment of comments">

        <app-post-comment-detail [comment]="comment"></app-post-comment-detail>
        <hr>
      </ng-container>
      <div *ngIf="showLoading" class="text-center">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="endMessages">
        <div class="text-center">
          No hay más mensajes
        </div>
      </div>
      <!-- ----------------------------- End Message ----------------------------- -->

    </div>
    <div class="chat-footer">
      <form (ngSubmit)="sendMessage()" [formGroup]="formMessage">
        <input type="text" formControlName="message" placeholder="Write your message">
      </form>
    </div>
  </div>

</div>
