<div class="chat-stream">
  <div #messageContainerScroll (scroll)="onScroll($event)" class="chat">
    <div class="chat-header">Comentarios
      <span
        [class.text-danger]="!formMessage.valid"
        [class.text-success]="formMessage.valid"
      ><round-progress [stroke]="4" [radius]="10" [current]="formMessage.get('message')?.value.length" [max]="max">
      </round-progress></span>
    </div>
    <div class="message-container">
  
      <!-- ------------------------------- Message ------------------------------- -->
      <ng-container *ngFor="let comment of comments">

        <app-post-comment-detail [comment]="comment" (refreshComments)="getComments()"></app-post-comment-detail>
        <hr class="color">
      </ng-container>
      <div *ngIf="showLoading" class="text-center">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="endMessages">
        <div class="text-center">
          No hay más mensajes
        </div>
      </div>
      <div *ngIf="comments?.length == 0">
        <div class="text-center">
          <h4>Este post no tiene mensajes, sé el primero!</h4>
        </div>
      </div>
      <!-- ----------------------------- End Message ----------------------------- -->

    </div>
    <div class="chat-footer">
      <form (ngSubmit)="sendMessage()" [formGroup]="formMessage">
        <input [attr.disabled]="loadingMessage? true: null" type="text" formControlName="message" placeholder="Escribe tu mensaje">
      </form>
    </div>
  </div>
  
</div>
