<div class="message">

  <div class="author-img__wrapper video-author video-p">
    <p-avatar label="{{ comment?.author?.username|slice:0:1 | titlecase}}" styleClass="p-mr-2" size="large" [style]="getStyle()" shape="circle"></p-avatar>
  </div>

  <div class="msg-wrapper">
    <div class="d-flex flex-row-reverse bd-highlight">
      <app-like-button (sendLike)="sendLike()" [showLoading]="showLikeLoader" [countLike]="comment?.likes"
      [liked]="comment?.is_like"></app-like-button>
    </div>

    <div class="msg__date">{{ comment?.created_at|amLocale:'es' | amTimeAgo  }}</div>

    <div class="msg__name video-p-name">{{ comment?.author?.username }}
    </div>
    <p>{{ comment?.description }}</p>
  </div>
</div>
