.message {
  display: flex;
  align-items: center;
  margin-top: 18px;

  &:last-child {
    margin-bottom: 18px;
  }

  &-container .author-img__wrapper svg {
    width: 15px;
  }
}

.msg {
  &__name {
    font-size: 13px;
  }

  &__date {
    font-size: 9px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__content {
    line-height: 1.4em;
    max-width: 60%;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;   
  }
}
p{
  word-wrap: break-word;   
  width: 90%;
  overflow: hidden;
}

.video-p {
  margin-right: 12px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;

  .author-img {
    border: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;

    .author-img {
      border: 0;
    }

    svg {
      width: 20px;
      padding: 4px;
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;

      .button-wrapper {
        margin: 20px auto 0;
      }

      .video-p-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .video-p {
        margin-right: 0
      }
    }
  }

  &-sub {
    font-size: 12px;
  }


  &-name {
    margin-bottom: 3px;
    color: #fff;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #22b07d;
      border-radius: 50%;
      margin-left: 8px;
      display: inline-block;
    }
  }
}


.video {
  &-author {
    position: absolute;
    right: 10px;
    transition: 0.4s;
    bottom: -25px;

    svg {
      background-color: #0aa0f7;
      color: #fff;
    }
  }
}

.author {
  &-img {
    width: 38px;
    height: 38px;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    border-radius: 50%;
    object-fit: cover;

    &__wrapper {
      position: relative;
      flex-shrink: 0;

      svg {
        width: 12px;
        padding: 2px;
        background-color: #0daabc;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 5px;
        right: 0;
      }
    }
  }

  &-name {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
  }



  &-detail {
    margin-left: 16px;
  }
}

.msg-wrapper {
  width: 80%;
}

.like_button {
  float: right;
  margin-right: 2px;
  @media screen and (max-width: 650px) {
    &{
      margin-right: 5px;
    }
  }
}
