@import "../../../../../../assets/scss/variables";

.comment-border{
  border-left: $secondary-color 0.3rem solid;
}

*{
  overflow: hidden;
}

.w-comment{
  width: 95%!important;
  @media screen and (max-width: 650px) {
    &{
      width: 75%!important;
    }
  }
  @media screen and (max-width: 720px) {
    &{
      width: 81.5%!important;
    }
  }
}
.w-isNotOwner{
  width: 99%!important;
  @media screen and (max-width: 650px) {
    &{
      width: 90%!important;
    }
  }
}

p{
  word-wrap: break-word;   
  width: 90%;
  overflow: hidden;
}

.like_button {
  float: right;
  margin-right: 2px;
  @media screen and (max-width: 650px) {
    &{
      margin-right: 5px;
    }
  }
}
