<app-headers title="Detail: {{ month?.date }}"></app-headers>
<ion-content class="ion-padding" [fullscreen]="true">


  <!-- 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resume</ion-card-title>
    </ion-card-header>
    <ion-item>
      <h5>Budget:
        <ion-text color="success">
          {{ month?.total_entries }}$
        </ion-text>
      </h5>
    </ion-item>
    <ion-item>
      <h5>Expense:
        <ion-text color="danger">
          {{ month?.total_expenses }}$
        </ion-text>
      </h5>
    </ion-item>
    <ion-item>
      <h5>Difference:
        <ion-text [color]="month?.difference > 0?'success':'danger'">
          {{ month?.difference }}$
        </ion-text>
      </h5>
    </ion-item>
  </ion-card> -->


</ion-content>