/* You can add global styles to this file, and also import other style files */
$primary-color: #1D1A3C;
$primary-color-hover: #282748;

$secondary-color: #282748;
$secondary-color-hover: #1D1A3C;

$alternative-color: #57B894;
$alternative-color-hover: #4ca182;