/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import './assets/scss/variables';

$cubic: cubic-bezier(.64, .09, .08, 1);

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0 !important;
  }
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(48%2c 68%2c 77%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c494.135C93.153%2c474.749%2c182.188%2c457.188%2c269.469%2c419.302C372.47%2c374.593%2c509.605%2c356.157%2c554.741%2c253.342C599.951%2c150.358%2c499.55%2c41.802%2c484.1%2c-69.603C468.539%2c-181.808%2c524.213%2c-306.075%2c463.864%2c-401.94C402.009%2c-500.197%2c281.931%2c-549.935%2c167.915%2c-571.864C59.385%2c-592.738%2c-45.662%2c-547.489%2c-152.848%2c-520.553C-264.809%2c-492.418%2c-390.624%2c-490.596%2c-473.848%2c-410.592C-559.432%2c-328.319%2c-580.081%2c-203.122%2c-604.01%2c-86.843C-629.28%2c35.951%2c-662.36%2c164.853%2c-616.261%2c281.437C-569.293%2c400.218%2c-473.416%2c507.099%2c-352.675%2c548.772C-237.899%2c588.386%2c-118.873%2c518.873%2c0%2c494.135' fill='%232c3e46'%3e%3c/path%3e%3cpath d='M1440 930.1179999999999C1517.077 933.765 1603.586 957.044 1666.054 911.7470000000001 1728.351 866.5740000000001 1715.5529999999999 770.149 1753.179 703.024 1795.728 627.117 1896.886 580.767 1900.321 493.81600000000003 1903.753 406.947 1840.776 324.608 1770.1309999999999 273.94 1704.436 226.822 1615.02 250.28199999999998 1536.13 232.611 1464.034 216.462 1398.338 155.99099999999999 1326.851 174.64999999999998 1255.156 193.363 1214.354 266.96 1171.891 327.683 1133.104 383.148 1113.578 445.752 1092.3319999999999 510.013 1066.412 588.4110000000001 1006.168 667.7 1033.74 745.533 1061.245 823.177 1152.295 856.912 1227.289 890.986 1294.282 921.425 1366.498 926.64 1440 930.1179999999999' fill='%23344a54'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  overflow-x: hidden;
  color: white;
  overflow-y: scroll;

  /* Show vertical scrollbar */
  /* --------------------------------- scroll --------------------------------- */
  /* width */
  &::-webkit-scrollbar {
    background: $secondary-color;
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darken($alternative-color, 5%);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $alternative-color;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $alternative-color;
  }

}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 2;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field select {
  background: transparent;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  padding-right: 1.5rem;
}

.input-field option {
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input::placeholder {
  color: rgb(88, 86, 86);
  font-weight: 500;
}

.is-valid {
  box-shadow: 0px 0px 0px 1px #06F139;
}

.is-invalid {
  box-shadow: 0px 0px 0px 1px #C9190B;
}

.error {
  font-weight: 300;
  font-size: 1rem;
  color: #C9190B;
  margin-bottom: 10px;
}

.bgsecondary {
  background: $alternative-color;
  box-shadow: 2px 10px 20px $alternative-color;
  border-radius: 4%;
  &.full-height {
    height: 100%;
  }
}

.toast-info {
  background-color: $alternative-color !important;
}

.is-invalid i {
  color: #C9190B;
}


.is-valid i {
  color: #06F139;
}

.central-loader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

.central-loader>div {
  height: 42px;
  line-height: 40px;
  width: 200px;
  text-align: center;
  color: #f0f0f0;
  margin: auto;
}

.central-loader>div i {
  font-size: 200%;
}


.btn-web {
  padding: 5px;
  background-color: $primary-color;
  border: none;
  width: 100%;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: $primary-color-hover;
    color: #fff;
  }

  &.entry {
    $color: #005e17;
    background: $color;

    &:hover {
      background: lighten($color, 5%);
    }
  }

  &.expense {
    $color: #a7290a;
    background: $color;

    &:hover {
      background: lighten($color, 5%);
    }
  }
}


$size: 25px;
$thickness: 3px;
$angle: 40deg;
$angleHover: 30deg;
$angleActive: 25deg;

@mixin arrowTransform($angle, $x: 0, $y: 0) {
  i:first-child {
    transform: translate($x, $y) rotate($angle);
  }

  i:last-child {
    transform: translate($x, -$y) rotate(-$angle);
  }
}

.title {
  margin-top: auto;
  margin-bottom: auto;
}

.paginate {
  // position: relative;
  // margin: 10px;
  width: $size;
  height: $size;
  cursor: pointer;
  transform: translate3d(0, 0, 0); // fixes flicker in webkit
  background: none;
  border: none;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  // position: absolute;
  // top: 50%;
  // margin-top: -20px;

  i {
    position: absolute;
    left: 0;
    width: $size;
    height: $thickness;
    border-radius: $thickness / 2;
    background: #fff;

    transition: all 0.15s ease;
  }

  &.left {

    i {
      transform-origin: 0% 50%
    }

    @include arrowTransform($angle, 0, -1px);

    &:hover {
      @include arrowTransform($angleHover, 0, -1px);
    }

    &:active {
      @include arrowTransform($angleActive, 1px, -1px);
    }

    &:disabled {
      @include arrowTransform(0deg, -5px, 0);

      &:hover {
        @include arrowTransform(0deg, -5px, 0);
      }
    }
  }

  &.right {

    i {
      transform-origin: 100% 50%
    }

    @include arrowTransform($angle, 0, 1px);

    &:hover {
      @include arrowTransform($angleHover, 0, 1px);
    }

    &:active {
      @include arrowTransform($angleActive, 1px, 1px);
    }

    &:disabled {
      @include arrowTransform(0deg, 5px, 0);

      &:hover {
        @include arrowTransform(0deg, 5px, 0);
      }
    }
  }

  &[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
  }
}


.c-dashboardInfo {
  margin-bottom: 15px;
}

.c-dashboardInfo .wrap {
  background: $alternative-color;
  box-shadow: 2px 10px 20px $alternative-color;
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}

.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: $primary-font-color;
  font-size: 1.18em;
}

.c-dashboardInfo span {
  display: block;
}

.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 30px;
  line-height: 64px;
  color: $secondary-font-color;
}

.text-danger {
  color: #a83232 !important;
}

.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.color-gradient-success .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);

}

.color-gradient-info .wrap:after {
  background: linear-gradient(82.59deg, #0a56e2 0%, #0045c4 100%);

}

.color-gradient-error .wrap:after {
  background: linear-gradient(81.67deg, #e24e13 0%, #9e3005 100%);
}

.color-gradient-difference .wrap:after {
  background: linear-gradient(81.67deg, #2269ec 0%, #074dce 100%);
}

:host ::ng-deep {
  .p-skeleton {
    background-color: $secondary-color;
  }

  .p-dialog-header,
  .p-dialog-footer,
  .p-dialog-content {
    background-color: $secondary-color;
    color: $primary-font-color;

  }

}





.tool-username {
  position: relative;

  color: $primary-font-color;
  font-weight: bold;
  text-decoration: none;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    z-index: 3;
  }

  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: $secondary-color;
    color: $primary-font-color;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
  }

  &:hover {
    color: darken($primary-font-color, 10%);

    &:before {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }

    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.btn-filter {
  text-decoration: none;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 8px 16px;
  background-color: $secondary-color;
  color: $primary-font-color;
  position: relative;
  border: 1px solid transparent;
  border-radius: 9999px;

  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    max-height: 54px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    white-space: normal;
    -webkit-box-orient: vertical;
  }

  &:hover:not(:disabled) {
    background-color: $primary-color-hover;
    color: $primary-font-color;

  }

  &:disabled {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: $primary-color-hover;
    opacity: 0;
  }
}

.decoration {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn-default {
  color: #fff;
  border-color: #172b4d;
  background-color: #172b4d;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-default:hover {
  color: #fff;
  border-color: lighten(#172b4d, 10%);
  background-color: lighten(#172b4d, 10%);
  ;
}

.btn-default:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(23, 43, 77, .5);
}

.btn-default:disabled {
  color: #fff;
  border-color: #172b4d;
  background-color: #172b4d;
}

.btn-default:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: #172b4d;
  background-color: #0b1526;
}

.btn-default:not(:disabled):not(.disabled):active:focus {
  box-shadow: none, 0 0 0 0 rgba(23, 43, 77, .5);
}

.btn-sm {
  font-size: .875rem;
  line-height: 1.5;
  padding: .25rem .5rem;
  border-radius: .375rem;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.btn-ligth-fin{
  background-color: $light-primary-color;
  color: $primary-font-color;

  &:hover{
    background-color: darken( $light-primary-color, 25%); /* Color de fondo al pasar el cursor */
  }
}