<div class="card mt-4">
    <div class="image-container">
        <p-skeleton height="100%" ></p-skeleton>

    </div>
    <div class="card-content">
      <span class="tag d-flex">
        <p-skeleton width="2rem" styleClass="mb-2 mr-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="2rem" styleClass="mb-2 mr-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="2rem" styleClass="mb-2 mr-2" borderRadius="16px"></p-skeleton>
      </span>
      <div class="title">
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="user">
        <div class="user-like">
            <p-skeleton shape="circle" size="2rem" styleClass="p-mr-2"></p-skeleton>

        </div>
        <div class="user-info w-100">
          <span><p-skeleton width="3rem" ></p-skeleton></span>
          <small><p-skeleton width="4rem" ></p-skeleton></small>
        </div>
     
      </div>
    </div>
  </div>
  <!-- width="10rem" height="4rem" -->