@import '../../../../../../assets/scss/variables';


.leaderboard {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);

  &__tags {
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }

  &__tag {
    max-width: 100%;
    padding: 5px;
    // overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    &:not(.not-cursor){
      cursor: pointer;
    }
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
    background-color: $secondary-color;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);

      .leaderboard__count {
        color: $primary-font-color;
      }
    }
  }

  &__separator {
    border-radius: 50%;
  }

  &__name {
    color: $primary-font-color;
    font-weight: 600;
    max-width: 100%;
    letter-spacing: 0.64px;
    margin-left: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
    cursor: pointer;
  }

  &__count {
    color: $light-primary-color;
    font-weight: 700;
    max-width: 20%;
    font-size: 20px;
    text-align: right;
    text-decoration: overline;


  }

}
.name{
    // overflow-wrap: break-word;
    line-break: auto;
}