<div [class.sign-up-mode]="signUpActive" class="containerauth">
    <div class="forms-container">
      <div class="signin-signup">
        <app-login [class.d-none]="signUpFormActive"></app-login>
        <app-register [class.d-none]="!signUpFormActive" (registerDone)="showAlertRegister($event)"></app-register>
       
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>¿Eres nuevo aqui?</h3>
          <p>
            Empieza a controlar tus finanzas, comunicaté con las demás personas a través del foro, consulta el precio de las mejores acciones, etc. Todo esto y mucho más con Finaccess.
          </p>
          <button (click)="signUpMode()" class="btn-auth transparent" id="sign-up-btn">
            Regístrate
          </button>
        </div>
        <img src="../../assets/img/finance-data.svg" class="image" alt="dataPc" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>¡Inicia sesión ahora!</h3>
          <p>
            Inicia sesión para empezar a utilizar todas las funciones que ofrece Finaccess.
          </p>
          <button (click)="signInMode()" class="btn-auth transparent" id="sign-in-btn">
            iniciar Sesión
          </button>
        </div>
        <img src="../../assets/img/investing.svg" class="image" alt="graficoPersona" />
      </div>
    </div>
  </div>
