@import '../../../../../../assets/scss/variables';

.tags {
  width: 100%;
  border-radius: 10px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  & h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

}

  & ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  & ul li {
    border-radius: 5px;
    background-color: $secondary-color;
}

  & ul li:first-child {
    margin-right: 10px;
    margin-top: 10px;
  }

  & ul li+li {
    margin-right: 10px;
    margin-top: 10px;
  }

  & ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: $primary-font-color;


}

  & ul li a:hover {
    background-color: $primary-font-color;
    color: $primary-color;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
  }
}
