$primary-color: #1A1A1C;
$secondary-color: #69202f ;
$alternative-color: darken($secondary-color,10%);

$primary-color-hover: lighten($primary-color, 5%);
$secondary-color-hover: darken($secondary-color, 5%);
$alternative-color-hover: lighten($alternative-color, 5%);


$primary-font-color: #ffffff;
$secondary-font-color: #dbd7d7;